*.pyc
datasets
PythonCode/intermediate_datafiles/
PythonCode/Example_graphs/
weather_steps.csv
data_used/StepCount.csv
exportxml/ActiveEnergyBurned.csv
.gitignore
exportxml/ActivitySummary.csv
exportxml/AppleExerciseTime.csv
exportxml/AppleStandHour.csv
exportxml/AppleStandTime.csv
exportxml/BasalEnergyBurned.csv
exportxml/DietaryWater.csv
exportxml/DistanceCycling.csv
exportxml/DistanceWalkingRunning.csv
exportxml/EnvironmentalAudioExposure.csv
exportxml/EnvironmentalSoundReduction.csv
exportxml/FlightsClimbed.csv
exportxml/HeadphoneAudioExposure.csv
exportxml/HeartRate.csv
exportxml/HeartRateVariabilitySDNN.csv
exportxml/README.md
exportxml/RespiratoryRate.csv
exportxml/RestingHeartRate.csv
exportxml/SleepAnalysis.csv
exportxml/StairAscentSpeed.csv
exportxml/StairDescentSpeed.csv
exportxml/StepCount.csv
exportxml/WalkingAsymmetryPercentage.csv
exportxml/WalkingDoubleSupportPercentage.csv
exportxml/WalkingHeartRateAverage.csv
exportxml/WalkingSpeed.csv
exportxml/WalkingStepLength.csv
exportxml/Workout.csv
.gitignore
Missing_data/missing_data_transformation.ipynb
Missing_data/missing_data_transfromation.py
combine_data.py
export.xml
README.md
data_used/weather.txt
README.md
Missing_data/weather_steps_merged.csv
Missing_data/New_weather_steps.csv
Missing_data/transformation_notgood.py
New_weather_steps.csv
Steps_weather_combined.csv
Missing_data/EDA_old.ipynb
